@model IEnumerable<BudgetApp.Models.Category>

@{
    ViewData["Title"] = "CategoryList";
}

<a asp-action="CategoriesCreate" class="btn btn-primary">Opret ny kategori</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
			<th></th>
        </tr>
    </thead>
    <tbody>
@foreach (Category c in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => c.CategoryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@c.CategoryID">Edit</a>
            </td>
        </tr>}
    </tbody>
</table>
