@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a asp-action="Index" class="btn btn-primary btn-contentselect">Home</a>
    <a asp-action="Privacy" class="btn btn-primary btn-contentselect">Privacy</a>

   @* <a asp-action="Index"><div class="btn btn-primary btn-contentselect">Home</div></a>
    <a asp-action="Privacy"><div class="btn btn-primary btn-contentselect">Privacy</div></a>*@
</div>