@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a asp-controller="Categories" asp-action="CategoryList" class="btn btn-primary btn-contentselect">Kategori</a>
    <a asp-controller="Subcategories" asp-action="SubcategoryList" class="btn btn-primary btn-contentselect">Under-<br />kategori</a>
</div>